

<div class="default-page">
    <div>
        <label for="myInput">Enter as 2d array, i.e. [[2,1],[2,2],[2,3]]</label>
        <input type="text" id="myInput"/>
    </div>

    <div>
        <label for="M">Enter number of columns</label>
        <input type="text" id="M"/>
    </div>

    <div>
        <label for="N">Enter number of rows</label>
        <input type="text" id="N"/>
    </div>

    <input type="Button" id="getNext" value="Get Next Generation" />
    <div id="response"></div>

    <canvas id="mycanvas" width="500" height="500"></canvas>
</div>
